In [1]:
import pandas as pd

In [9]:
import requests

url = "https://api.themoviedb.org/3/tv/top_rated?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNzE1MTQxMTRmZGMwZDkxYmVmNmQ5ZWU0YmY5YzRiNSIsInN1YiI6IjY1Y2Y3NDc2NmQxYmIyMDE3YjRjZTYwZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.qKudLLHxvtVfweo3l-828YJcrcgC1d6xfmqQzt6EWMs"
}

response = requests.get(url, headers=headers)

# print(response.text)
df = pd.read_json(response.text)

In [10]:
df.head()

,page,results,total_pages,total_results
0,1,"{'adult': False, 'backdrop_path': '/AvsNXUbP7U...",95,1899
1,1,"{'adult': False, 'backdrop_path': '/9faGSFi5ja...",95,1899
2,1,"{'adult': False, 'backdrop_path': '/rkB4LyZHo1...",95,1899
3,1,"{'adult': False, 'backdrop_path': '/2rmK7mnchw...",95,1899
4,1,"{'adult': False, 'backdrop_path': '/kU98MbVVgi...",95,1899

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   page           20 non-null     int64
 1   results        20 non-null     object
 2   total_pages    20 non-null     int64
 3   total_results  20 non-null     int64
dtypes: int64(3), object(1)
memory usage: 768.0+ bytes